.App {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.formData {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.formHeader {
  align-self: center;
}

.error {
  color: red;
}